html, body{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
    background: #8a0000;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
}
.cover {
  width: 400px;
  height: 750px;
  background-color: #8a0000;
  display: flex;
  flex-direction: column;
}

.cover h1{
  color: #e59300;
  margin: auto;
  font-size: 2.5em;
}

.cover h3 {
  color: #e59300;
  margin: auto;
}

.cover .ca {
  width: 100%;
  margin-top: 0px;
  justify-content: flex-start;
}



.cover .cc {
  margin: auto;
  width: 200px;
}

.cover .cf {
  width: 100%;
  justify-content: flex-end;
}
/* pa */
.pa {
  width: 400px;
  height: 750px;
  background-color: #8a0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e59300;
  animation: both;
}

.pa{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
/* pb */
.pb {
  width: 400px;
  height: 750px;
  background-color: #8a0000;
  display: flex;
  flex-direction: column;
}

.pb{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
