html, body{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
    background: #ffcce6;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
}
.cover {
  width: 400px;
  height: 750px;
  background-color: #5d0000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.cover p2{
  color: #fff;
  font-size: 50px;
  margin-bottom: auto;
}

.cover .foto_1 {
  width: 250px;
  height: 350px;
  border: 3px solid #fff;
  position: absolute;
  transform: translateX(-50%);
  top: -3px;
  left: 50%;
  border-radius: 0px 0px 250px 250px;
  overflow: hidden;
}

.cover p1 {
  color: #fff;
  font-size: 30px;
}

.cover .ca {
  width: 100%;
  margin-top: 0px;
  justify-content: flex-start;
}

.cover .cc {
  margin-top: 260px;
  width: 150px;
  margin-bottom: 20px;
}



.cover .cf {
  width: 100%;
}
/* pa */
.pa {
  width: 400px;
  height: 750px;
  border-radius: 20px 20px 0px 0px;
  background: #d1b89b;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  animation: both;
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

.pa p1 {
  font-size: 1em;
}

.pa p3 {
  font-size: 2em;
  text-align: center;
}

.pa p2 {
  bottom: 10px;
  font-size: 1em;
}

.pa p4 {
  text-align: center;
  padding: 10%;
}

/* pb */
.pb {
  width: 400px;
  height: 750px;
  background-color: #385e3c;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pb .gbr_a {
  width: 100px;
  margin-bottom: 30px;
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
.pb p1 {
  font-size: 15px;
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
.pb p2{
  padding: 10%;
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

.pb p3, .pb p5, .pb p6 {
  font-size: 45px;
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

.pb p4, .pb p7 {
  font-size: 15px;
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

.pb .line_1{
  margin-bottom: 20px;
}

.pb .line_2 {
  margin-top: 20px;
}

/* pc */
.pc {
  width: 400px;
  height: 750px;
  background-color: #5e4138;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pc p1{
  padding: 10%;
  font-size: 15px;
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
